body, html {
    height: 100%;
    margin: 0;
}

.bg {
    /* The image used */
    background-image: url("img/1920.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.container-narrow {
    background-image: url("img/back.png");
    height: 100%;
    width: 80%;
    margin: auto

    /* Center and scale the image nicely */



}

.container-1{
    display: flex;
    justify-content: space-around;
}
.fixed{
    width: 200px;
}
.flex-item{
    flex-grow: 1;
}
